{% extends "layout.njk" %}

{% block head%}
    <title>{{ courses.links[0].id }}</title>
{% endblock %}


{% block content %}
   {% for link in courses.links %}

    {% if link.id == "starter" %} 

        <div class="wrapper-courses-page">
            <img id="starter" src="{{ link.url }}" alt="Imagem do curso {{link.id}}">
            <p>{{link.description}} For more information, click <a id="starter" href="{{link.url_site}}">HERE</a></p>
            
        </div>

    {% endif %}

   {% endfor %}
{% endblock %}

{# nome / url / modules / price / id / description #}      