{% extends "layout.njk" %}

{% block head %}
    <title>404 - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="page-not-found">
        <img src="/page-not-found.png" alt="">
    </div>

{% endblock %}}
{#         <img src="https://55chan.org/comp/thumb/1590425982526.gif" alt=""> #}