{% extends "layout.html" %}

{% block head %}

<title>Portfolio -  Thyago Nunes</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %} 

{% block content %}

	
	<section class="cards">

		<div class="card" id="BhB6Lb7_kN8">
			<div class="card_image_container" >
				<img id="um" src="https://media3.giphy.com/media/CYv8oQkzlwIyA/giphy.gif?cid=ecf05e473369fea5352a1c2f5a33030cdb9863c27e666fc7&rid=giphy.gif" alt="LIBERTY">
			</div>
			<div class="card_content">
				<p>2. I MONSTER - DAYDREAM IN BLUE</p>
			</div>
			<div class="card_info">
				<p class="card_time">3 MIN 41 SEC</p>
				<p class="card_price">LIBERTY</p>
			</div>
		</div>
	
		<div class="card" id="TGgcC5xg9YI">
			
			<div class="card_image_container" >
				<img id="dois" src="https://media0.giphy.com/media/5hddOgCz9NggmOMrUK/200w.webp?cid=ecf05e47a093c3f2b71d174a471af80866eacf11fd1156ed&rid=200w.webp" alt="TYLER THE CREATOR">
			</div>
			<div class="card_content">
				<p>TYLER - SEE YOU AGAIN</p>
			</div>
			<div class="card_info">
				<p class="card_time">3 MIN 22 SEC</p>
				<p class="card_price">RELAX</p>
			</div>
		</div>

		<div class="card" id="hjpF8ukSrvk"> 
			<div class="card_image_container">
				<img id="tres" src="https://media0.giphy.com/media/L95W4wv8nnb9K/200w.webp?cid=ecf05e47202b0ccd40ea79f59b4140e6f1f0524155b223c0&rid=200w.webp" alt="PINK FLOYD">
			</div>
			<div class="card_content">
				<p>PINK FLOYD - WISH YOU WERE HERE</p>
			</div>
			<div class="card_info">
				<p class="card_time">5 MIN 32 SEC </p>
				<p class="card_price">MISS U</p>
			</div>
		</div>

		<div class="card" id="nPtorZ2k7Ak">
			<div class="card_image_container">
				<img id="quatro" src="https://media1.giphy.com/media/Ajv99CFaqeXEQ/giphy.webp?cid=ecf05e472ad08fc250f780dba03ebf16f251083dab0b738a&rid=giphy.webp" alt="life changes">
			</div>
			<div class="card_content">
				<p>BLACK SABBATH - CHANGES</p>
			</div>
			<div class="card_info">
				<p class="card_time" >4 MIN 45 SEC</p>
				<p class="card_price">THINK</p>
			</div>
		</div>

		<div class="card" id="CsHiG-43Fzg">
			<div class="card_image_container">
				<img id="cinco" src="https://media3.giphy.com/media/kfcwx7xF15fsBtHWHb/200.webp?cid=ecf05e47806805893e80b9e693b9a0af40721d72391255d6&rid=200.webp" alt="TEARS FOR FEARS">
			</div>
			<div class="card_content">
				<p>TEARS FOR FEARS - HEAD OVER HEELS</p>
			</div>
			<div class="card_info">
				<p class="card_time" >4 MIN 15 SEC</p>
				<p class="card_price">POP ROCK</p>
			</div>
		</div>

		<div class="card" id="M6JpxDebokM">
			<div class="card_image_container">
				<img id="seis" src="https://media1.giphy.com/media/OOezqqxPB8aJ2/200w.webp?cid=ecf05e47efdc390ae81db6c9c601f303c737b25da29ad864&rid=200w.webp" alt="IRON MAIDEN">
			</div>
			<div class="card_content">
				<p>THE EVIL THAT MEN DO</p>
			</div>
			<div class="card_info">
				<p class="card_time">4 MIN 35 SEC</p>
				<p class="card_price">ANGRY</p>
			</div>
		</div>

	</section>

	<div class="modal-overlay">
		<div class="modal">
			<a class="close-modal">
				<i class="material-icons">close</i>
			</a>
			<div class="model-content">
				<iframe src="" frameborder="0"></iframe>
			</div>
		</div>
	</div>

	<script src="scripts.js"></script>

{% endblock %}