<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="about">
	
	<header id="about">
		<div class="links_page_about">
			<a href="/" >Home</a>
<!-- 			<a href="about.html" >About</a> -->
			<a href="/portfolio" >Videos</a>
		</div>
	</header>
<div class="info">
    <div id="info">
        <h1>Info</h1>
        <p>
            Name: Thyago Nunes<br>
            Naturalness: Brazil<br>
            Born in date: 04-27-1993<br>
            City: Caruaru
            Uf: Pe    
        </p>
    </div>

    <div id="bio">
        <h1>Bio</h1>
        <p>
        The IT guy with hunger of knowledge in tecnology.<br> Always amplifying the knowledges and search news challenges
        </p>
    </div>
</div>  

</body>
</html>

<!-- 	https://beeg.com/1313435243?t=359 -->