<!DOCTYPE html>
<html lang="en">
<head>
	<title>Videos</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="video">
	
	<header id="video">
		<div class="links_page_video">
			<a href="/" >Home</a>
			<a href="/about" >About</a>
<!-- 			<a href="classes.html" target="_blank">Videos</a> -->
		</div>
	</header>
	
	<section class="cards">

		<div class="card" id="tfSS1e3kYeo">
			<div class="card_image_container" >
				<img id="um" src="https://the-hollywood-gossip-res.cloudinary.com/iu/s--5bKWD_7W--/c_scale,f_auto,h_657,q_auto,w_696/v1525864128/travis-scott-gif" alt="TRAVIS SCOTT">
			</div>
			<div class="card_content">
				<p>TRAVIS SCOTT - HIGHEST IN THE ROOM</p>
			</div>
			<div class="card_info">
				<p class="card_time">2 MIN 56 SEC</p>
				<p class="card_price">RAP</p>
			</div>
		</div>
	
		<div class="card" id="CEVXcP3VC3Y">
			
			<div class="card_image_container" >
				<img id="dois" src="https://media.giphy.com/media/B1DwXfsO3agPRyqqHw/200.gif" alt="TYLER THE CREATOR">
			</div>
			<div class="card_content">
				<p>IGOR'S THEME</p>
			</div>
			<div class="card_info">
				<p class="card_time">50 SEC</p>
				<p class="card_price">RAP</p>
			</div>
		</div>

		<div class="card" id="eLlkslzcrdQ"> 
			<div class="card_image_container">
				<img id="tres" src="https://66.media.tumblr.com/13b442ce982fc6a847f42111a2faf864/20c6900ae779d884-ac/s500x750/e29286c37c3743c5e0c9e0e2f814b3437483399d.gifv" alt="BACO EXU DO BLUES">
			</div>
			<div class="card_content">
				<p>BACO EXU DO BLUES - JOVEM PRETO RICO</p>
			</div>
			<div class="card_info">
				<p class="card_time">2 MIN 23 SEC</p>
				<p class="card_price">RAP</p>
			</div>
		</div>

		<div class="card" id="SYVCtcbRLhw">
			<div class="card_image_container">
				<img id="quatro" src="https://i.ytimg.com/an_webp/SYVCtcbRLhw/mqdefault_6s.webp?du=3000&sqp=CMi1-PUF&rs=AOn4CLD1V5K6ZWvZZWs7GWLo6K5Uxyt27g" alt="ENGENHEIROS DO HAWAII">
			</div>
			<div class="card_content">
				<p>ENGENHEIROS DO HAWAII - PIANO BAR</p>
			</div>
			<div class="card_info">
				<p class="card_time" >4 MIN 28 SEC</p>
				<p class="card_price">ROCK</p>
			</div>
		</div>

		<div class="card" id="CsHiG-43Fzg">
			<div class="card_image_container">
				<img id="cinco" src="https://i.ytimg.com/an_webp/CsHiG-43Fzg/mqdefault_6s.webp?du=3000&sqp=CNCt-PUF&rs=AOn4CLB4wIfARXPtpm4PSLidt6rZ3AkduQ" alt="TEARS FOR FEARS">
			</div>
			<div class="card_content">
				<p>TEARS FOR FEARS - HEAD OVER HEELS</p>
			</div>
			<div class="card_info">
				<p class="card_time" >4 MIN 15 SEC</p>
				<p class="card_price">POP ROCK</p>
			</div>
		</div>

		<div class="card" id="F3CIbk3At_8">
			<div class="card_image_container">
				<img id="seis" src="https://i.ytimg.com/an_webp/ewRjZoRtu0Y/mqdefault_6s.webp?du=3000&sqp=CMCs-PUF&rs=AOn4CLCiA3V_FYLLd9MjDoaPR43mWTkgkQ" alt="M.I.A">
			</div>
			<div class="card_content">
				<p>M.I.A - PAPER PLANES</p>
			</div>
			<div class="card_info">
				<p class="card_time">3 MIN 24 SEC</p>
				<p class="card_price">ELETRONIC</p>
			</div>
		</div>

	</section>

	<div class="modal-overlay">
		<div class="modal">
			<a class="close-modal">
				<i class="material-icons">close</i>
			</a>
			<div class="model-content">
				<iframe src="" frameborder="0"></iframe>
			</div>
		</div>
	</div>

	<script src="scripts.js"></script>

</body>
</html>

<!-- 	
		https://www.youtube.com/watch?v=tfSS1e3kYeo
		https://youtu.be/CEVXcP3VC3Y
		https://www.youtube.com/watch?v=
		https://www.youtube.com/watch?v=OaOiHVgP3Pw&list=PL1Zz3HA8wnG3Vv1GLLU0ozsAMm4i0NAIj&index=5
		https://www.youtube.com/watch?v=nr90nbqxuZk
		https://www.youtube.com/watch?v=F3CIbk3At_8


		https://beeg.com/1111435020
		https://beeg.com/1025934217
		https://beeg.com/1593557069
		https://beeg.com/1246371658
		https://beeg.com/1615710143
		https://beeg.com/1411825012
-->
