{% extends "layout.njk" %}

{% block head %}

    <title>Recipes</title>

{% endblock %}

{% block content %}

 <div class="card-recipes">

    {% for recipe in recipes %}

        <div class="card-recipe" id=" {{ recipe.avatarRecipe }} " class=" {{ recipe.id }} ">

            <div class="card-recipe-img">
                <img src=" {{ recipe.avatarRecipe }} " alt="Imagem de {{ recipe.avatarRecipe }}">
            </div>

            <div class="card-recipe-info">
                <p class="title" class="card-name-food" >{{ recipe.titleRecipe }}</p>
                <p class="make" class="card-make-for">{{ recipe.makeFor }}</p>
            </div>

        </div>

    {% endfor %}

</div>


    <div class="modal-overlay">

         <div class="modal" id= " {{ recipe.id }} " > 

            {% for recipe in recipes %}

                <div class="card-recipe-info">
                    <p class="title" class="card-name-food" >{{ recipe.titleRecipe }}</p>
                    <p class="make" class="card-make-for">{{ recipe.makeFor }}</p>
                </div>

            {% endfor %}

            <a class="close-modal">Fechar receita</a>
                <div class="content">
                    <iframe src="" frameborder="0">     
                    </iframe>
                </div>
         </div>
    </div>

<script src="scripts.js"> </script>

{% endblock %}




{#         <img src=" {{ recipe.avatarRecipe }} " alt="Imagem de {{ recipe.avatarRecipe }}">
        <p class="name-food" >{{ recipe.titleRecipe }}</p>
        <p class="make-for">{{ recipe.makeFor }}</p> #}


{# <p id="title" class="card-name-food" >{{ recipes.titleRecipe }}</p>
<p id="make" class="card-make-for">{{ recipes.makeFor }}</p> #}