{% extends "layout.njk" %}

{% block head %}
    <title>Content - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="title-page">COURSES</h1>

    <section class="cards">

    <div class="card" id="starter">

        <div class="card-logo">
            <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="STARTER">
        </div>

        <div class="card-content">
            <p>STARTER</p>
        </div>

        <div class="card-info">
            <p class="quantify-modules">4 modules</p>
            <p class="status-course">FREE</p>
        </div>

    </div>

    <div class="card" id="launchbase">

        <div class="card-logo">
            <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LAUNCHBASE">
        </div>

        <div class="card-content">
            <p>LAUNCHBASE</p>
        </div>

        <div class="card-info">
            <p class="quantify-modules">4 modules</p>
            <p class="status-course">PAID</p>
        </div>

    </div>

    <div class="card" id="gostack">

        <div class="card-logo">
            <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GOSTACK">
        </div>

        <div class="card-content">
            <p>GOSTACK</p>
        </div>

        <div class="card-info">
            <p class="quantify-modules">4 modules</p>
            <p class="status-course">PAID</p>
        </div>

    </div>

    </section>

    <div id="social-midia-content">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <a class="maximize-modal">
                <i class="material-icons">maximize</i>
            </a>
        
            <div class="video-content">
                <iframe src="" frameborder="0"></iframe>
            </div>

            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}
