<!DOCTYPE html>
<head>
    <title>thyago - webpage</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
    <h1>Courses</h1>

    <section class="cards">

        <div class="card" id="starter">

            <div class="img-content" >
                <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="starter">
            </div>

            <div class="card-content">
                <p class="about-content">STARTER</p>
            </div>

            <div class="card-info">
                <p class="modules">5 MODULES</p>
                <p class="price">FREE</p>
            </div>

        </div>

        <div class="card" id="launchbase">

            <div class="img-content" >
                <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="launchbase">
            </div>

            <div class="card-content">
                <p class="about-content">LAUNCHBASE</p>
            </div>

            <div class="card-info">
                <p class="modules">6 MODULES</p>
                <p class="price">PAYD</p>
            </div>

        </div>

        <div class="card" id="gostack">

            <div class="img-content" >
                <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="gostack">
            </div>

            <div class="card-content">
                <p class="about-content">GOSTACK</p>
            </div>

            <div class="card-info">
                <p class="modules">7 MODULES</p>
                <p class="price">PAYD</p>
            </div>

        </div>

    </section>

    <div class="modal-overlay">

        <div class="modal">

            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
    
            <a class="maximize-modal">
                <i class="material-icons">maximize</i>
            </a>
    
            <a class="minimize-modal">
                <i class="material-icons">minimize</i>
            </a>
            

            <div class="page-content">
                <iframe src="" frameborder="0"></iframe>
            </div>

        </div>

    </div>

    <script src="script.js"></script>

    <div class="footer">
    
    </div>

</body>
</html>