<!DOCTYPE html>
<head>
    <title>404 - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body class="pnf">
    <div class="page-not-found">
        <img src="/page-not-found.png" alt="">
    </div>
{#         <img src="https://55chan.org/comp/thumb/1590425982526.gif" alt=""> #}
</body>
</html>